# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://prahaarakkaldevi_db_user:prahaar123@cluster0.vyhrg3b.mongodb.net/?appName=Cluster0

# JWT Configuration
JWT_ACCESS_SECRET=your_access_token_secret_key_here_change_in_production
JWT_REFRESH_SECRET=your_refresh_token_secret_key_here_change_in_production
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# CORS Configuration
FRONTEND_URL=http://localhost:5173